.App {
  text-align: center;
  background-color: beige;
}

.App-header {
  background-color: lime;
  min-height: 6vh;
  max-height: 10vh;
  justify-content: center;
  color: black;
  overflow: hidden;
  position: relative;
}
.App-header h1 {
  position: absolute;
  width: 100%;
  margin: 0px;
  padding: 0px;
  line-height: 5vh;
  text-align: center;
  /* Starting position */
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%); 
  transform:translateX(100%);
  /* Apply animation to this element */ 
  -moz-animation: scroll-left 10s linear infinite;
  -webkit-animation: scroll-left 10s linear infinite;
  animation: scroll-left 8s linear infinite;
}
  /* Move it (define the animation) */
@-moz-keyframes scroll-left {
  0% { -moz-transform: translateX(100%); }
  100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes scroll-left {
  0% { -webkit-transform: translateX(100%); }
  100% { -webkit-transform: translateX(-100%); }
}
@keyframes scroll-left {
  0% { 
    -moz-transform: translateX(100%); /* Browser bug fix */
    -webkit-transform: translateX(100%); /* Browser bug fix */
    transform: translateX(100%); 
  }
  100% { 
    -moz-transform: translateX(-100%); /* Browser bug fix */
    -webkit-transform: translateX(-100%); /* Browser bug fix */
    transform: translateX(-100%); 
  }
}

.App-link {
  color: #61dafb;
}

.NavBar {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100vw;
}

.NavElem {
  border-style: solid;
  border-width: 2px;
  padding: 5px 15px;
  margin: 4px;
  background-color:black;
  border-radius: 25px;
  color: beige;
  border-color: lime;
  min-width: 5vw;
  box-shadow: 3px 3px 0px 0px green;
}
.UpInput {

}
.NFTContainer {
  display: flex;
  flex-wrap: wrap-reverse;
  flex-direction: row-reverse;
  justify-content: center;
}

.NFTElem {
  min-width: 30vw;
  min-height: 40vh;
  border-style: solid;
  border-radius: 2px;
  margin: 5px;
  background-color: black;
}
.PopupBase {
  display: block;
  position: fixed;
  width: 80vw;
  height: 80vh;
  background-color: wheat;
  left: 10vw;
  top: 10vh;
  z-index: 100;
}
.hidden {
  display: none;
  visibility: hidden;
}
.BackgroundInactive {
  filter: blur(10px);
  pointer-events: none;
}
.closebtn {
  width: 5vw;
  height: 5vh;
  position: fixed;
  left: 85vw;
  top: 12vh;
}
.PreviewBox {
  justify-content: center;
  display: flex;
  padding: 2px;

}
.NFTName {

  color: lime;
  padding: 5px;

}
.NFTOwner {
  background-color: lime;
  margin: 5px;
  
}
.NFTPrice {
  background-color:lime;
  margin: 5px;
}
.NFTInfo {
  background-color: lime;
  margin: 7px;
  padding: 2px;
  border-radius: 15px;
  flex-grow: 4;
  box-shadow: 3px 3px 0px 0px green;
}
.NFTBuy {
  background-color: lime;
  margin: 7px;
  padding: 2px;
  border-radius: 15px;
  flex-grow: 1;
  box-shadow: 3px 3px 0px 0px green;
}
.NFTLow {
  display: flex;
  justify-content: center;

}